
.filter {
    width: 100%;
    margin-bottom: 40px;
}

.filter-item {
    margin: 24px 0;
    display: flex;
    /*align-items: center;*/
    /*margin: auto 0;*/
}

.filter-list {
    width: 75%;
}

.filter-select {
    width: 100%;
}

.filter-buttons {
    margin: 48px 0 0 220px;
}

.table-show {
    width: 100%;
}

.pagination {
    margin: 32px 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.pagination a{
    font-weight: bold;
    color: #0A4660;
    padding: 8px 12px;
    /*float: left;*/
}

.pagination a:hover {
    text-decoration: none;
    background-color: #F0F0F0;
}

.pagination a.active{
    color: white;
    background-color: #1493A5;
}

.pagination a.inactive{
    color: #858585;
}

@media screen and (max-width: 780px) {
    .pagination {
        margin: 16px 0;
    }

    .pagination a{
        padding: 5px 8px;
    }

    .button {
        margin-top: 8px;
    }
}

@media screen and (max-width: 780px) {
    .filter {
        margin-bottom: 20px;
    }

    .filter-list {
        width: 100%;
    }

    .filter-item {
        flex-direction: column;
        margin: 16px 0;
    }

    .filter-buttons {
        /*margin: 24px auto;*/
        display: block;
        margin: 20px 0 0 0;
    }

}